/* Home Page Specific CSS */
main {
    padding: 40px;
    font-family: 'Poppins', sans-serif;

}

/* Search Parking Section */
.search-parking {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.search-parking .search-parking-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-parking .search-parking-text {
    flex: 1;
    margin-left: 20px;
}

.search-parking .search-parking-text h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.search-parking .search-parking-text p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.search-parking .search-parking-text button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.search-parking .search-parking-text button:hover {
    background-color: #555;
}

.search-parking .search-parking-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Parking Host Section */
.parking-host {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.parking-host .parking-host-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parking-host .parking-host-text {
    flex: 1;
    margin-right: 20px;
}

.parking-host .parking-host-text h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.parking-host .parking-host-text p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.parking-host .parking-host-text button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.parking-host .parking-host-text button:hover {
    background-color: #555;
}

.parking-host .parking-host-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .search-parking, .parking-host {
        flex-direction: column;
        align-items: center;
    }

    .search-parking .search-parking-content, .parking-host .parking-host-content {
        flex-direction: column;
        align-items: center;
    }

    .search-parking .search-parking-text, .parking-host .parking-host-text {
        text-align: center;
        margin: 20px 0;
    }

    .search-parking .search-parking-image, .parking-host .parking-host-image {
        margin-bottom: 20px;
    }
}
