/* Manage Users Page Specific Styling */
.user-table {
  margin-top: 30px;
  overflow-x: auto;
  width: 100%;
}

.user-table table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.user-table th,
.user-table td {
  padding: 12px 20px;
  text-align: left;
  border: 1px solid #ddd;
  text-align: center;
}

.user-table th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: 600;
}

.user-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.user-table tr:hover {
  background-color: #f1f1f1;
}

.user-table td a {
  text-decoration: none;
  color: #1c1c1c;
  padding: 8px;
  margin-right: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.user-table td a:hover {
  background-color: #f4f4f4;
}

.user-table td a.edit {
  color: #4CAF50; /* Green color for Edit */
}

.user-table td a.delete {
  color: #F44336; /* Red color for Delete */
}

.user-table td a.edit:hover {
  background-color: #dfffd9; /* Light green on hover */
}

.user-table td a.delete:hover {
  background-color: #f8d7da; /* Light red on hover */
}

/* .user-table td .na {
  text-align: center;
  font-weight: bold;
  color: #777;
} */

.search-filter {
  margin: 20px 0;
  text-align: right;
}

.search-filter input {
  padding: 8px;
  font-size: 16px;
  margin-right: 10px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-filter button {
  padding: 8px 16px;
  background-color: #1c1c1c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-filter button:hover {
  background-color: #333;
}
