{% extends "base.html" %}
{% block content %}
<h1>Booking Success</h1>
{% if booking %}
    <p>Your booking has been successfully created!</p>
    <p>Booking ID: {{ booking.id }}</p>
    <p>Parking Space: {{ booking.parking_space.name }} - {{ booking.parking_space.location }}</p>
    <p>Start Time: {{ booking.start_time }}</p>
    <p>End Time: {{ booking.end_time }}</p>
{% else %}
    <p>Sorry, there was an issue with your booking.</p>
{% endif %}

<a href="{% url 'my_bookings' %}">View My Bookings</a>
{% endblock %}
