{% extends "base.html" %}

{% block content %}
    <h2>My Bookings</h2>

    {% if page_obj and page_obj.object_list %}
        <table class="bookings-table">
            <thead>
                <tr>
                    <th>Booking ID</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>Amount Paid</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in page_obj %}
                    <tr class="booking-row">
                        <td>{{ booking.id }}</td>
                        <td>{{ booking.start_date }} : {{ booking.start_time }}</td>
                        <td>{{ booking.end_date }} : {{ booking.end_time }}</td>
                        <td>{{ booking.parking_space.location }}</td>
                        <td class="{% if booking.status == 'cancelled' %}cancelled-status{% endif %}">
                            {% if booking.status != 'cancelled' %}
                                {{ booking.status }}
                            {% else %}
                                <span class="cancelled-text">Cancelled</span>
                            {% endif %}
                        </td>
                        <td>{{ booking.price_paid }}</td>
                        <td>
                            {% if booking.status != 'cancelled' %}
                                <!-- Show Extend Time button if not canceled -->
                                <button class="btn"><a href="">Extend Time</a></button>
                                
                                <!-- Show Cancel button if not canceled -->
                                <button class="btn" style="background-color: yellow;">
                                    <a href="{% url 'cancel_booking' booking.id %}">Cancel</a>
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Pagination -->
        <div class="pagination-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </div>
    {% else %}
        <p>No bookings found.</p>
    {% endif %}
{% endblock %}
