{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="main-content">
        <h1>My Listed Parking Spaces</h1>
        <p>Below are the parking spaces you have listed on ParkEasy. Manage your listings easily from here.</p>
        
        {% if parking_spaces %}
            <ul>
                {% for space in parking_spaces %}
                    <li>
                        <div class="parking-item-container">
                            <strong>{{ space.location }}</strong> - ${{ space.price_per_hour }} per hour
                            <p>Availability: {% if space.availability %} Available {% else %} Not Available {% endif %}</p>
                            <p>Amenities: {{ space.amenities }}</p>
                            <p>Rating: {{ space.rating }} / 5</p>
                            <p><a href="#">Edit Listing</a>  <a href="#">Delete Listing</a></p>
                        </div>
                    </li>
                {% endfor %}
                <p><a href="{% url 'add_parking_space' %}">Add a Parking Space</a></p>
            </ul>
        {% elif message %}
            <p>{{ message }} <a href="{% url 'add_parking_space' %}">Add a Parking Space !</a> now!</p>
        {% endif %}
    </div>
{% endblock %}
