<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Home Icon Linking to Homepage -->
    <a href="{% url 'home' %}" class="home-icon">
        <img src="{% static 'img/house-solid.svg' %}" alt="Home" />
    </a>

    <div class="container">
        <form method="POST" class="form">
            <h2>Register</h2>
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" required>
            <span class="helptext">Required. 150 characters or fewer. Letters, digits, and @/./+/-/_ only.</span>

            <label for="email">Email:</label>
            <input type="email" name="email" required>
            <span class="helptext">Please enter a valid email address.</span>

            <label for="password1">Password:</label>
            <input type="password" name="password1" required>
            <span class="helptext">
                Your password must contain at least 8 characters, can't be too similar to your personal information,
                can't be commonly used, and can't be entirely numeric.
            </span>

            <label for="password2">Password confirmation:</label>
            <input type="password" name="password2" required>
            <span class="helptext">Enter the same password as before for verification.</span>

            <button type="submit">Register</button>
            <p><a href="{% url 'login' %}">Already have an account? Login</a></p>
        </form>
    </div>
</body>
</html>
