<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParkEasy Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Home Icon Linking to Homepage -->
    <a href="{% url 'home' %}" class="home-icon">
        <img src="{% static 'img/house-solid.svg' %}" alt="Home" />
    </a>
    <div class="container">
        <div class="form">
            <h2>Welcome Back!</h2>
            <form action="#" method="POST">
                {% csrf_token %}
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>

                <button type="submit">Login</button>
            </form>

            <p><a href="#">Forgot Password?</a></p>
            <!-- New "Don't have an account?" sign linking to Register page -->
            <p class="register-text">
                Don't have an account? <a href="{% url 'register' %}">Register.</a>
            </p>
        </div>
    </div>
</body>

</html>
