<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/payment_styles.css' %}">
  <title>Payment Form</title>
</head>

<body>
  <div class="payment-container">
    <!-- Payment Header -->
    <h1 id="payment-header" style="font-size: 30px;">Payment Form</h1>

    <!-- Booking Details -->
    <div class="booking-details" id="booking-details" style="font-size: 20px;">
      <p style="display: none;"><strong>Booking ID:</strong> {{ booking.id }}</p>
      <p style="display: none;"><strong>Parking Space ID:</strong> {{ booking.parking_space.id }}</p>
      <p><strong>Name:</strong> {{ booking.parking_space.name }}</p>

      <p><strong>Amount Due:</strong> ${{ booking.price_paid }}</p> <!-- Use price_paid instead of total_amount -->
    </div>

    <!-- Payment Form -->
    <form id="payment-form" method="post" class="payment-form" action="{% url 'payment_form' %}">
      {% csrf_token %}
      <label for="card-number">Card Number</label>
      <input type="text" id="card-number" name="card_number" placeholder="1234 5678 9876 5432" required>

      <label for="exp-date">Expiration Date</label>
      <input type="text" id="exp-date" name="exp_date" placeholder="MM/YY" required>

      <label for="cvv">CVV</label>
      <input type="password" id="cvv" name="cvv" placeholder="123" required>

      <label for="name">Cardholder Name</label>
      <input type="text" id="name" name="cardholder_name" placeholder="John Doe" required>

      <button type="submit" class="submit-btn">Pay Now</button>
    </form>

    <!-- Loader -->
    <div class="loader" id="loader" style="display: none;"></div>

    <!-- Success Message -->
    <div id="success-message" class="payment-container" style="display: none;">
      <div class="icon-success">
        <span>&#10004;</span>
      </div>
      <h1 style="font-size: 28px;">Payment Successful</h1>
      <p class="message">Thank you!</p>
      <div class="details">
        <p><strong>Amount Paid:</strong> ${{ booking.price_paid }}</p> <!-- Use price_paid here as well -->
        <p><strong>Date & Time:</strong> {{ booking.payment_date|date:"F d, Y, h:i A" }}</p>
        <p><strong>Reference Number:</strong> {{ booking.reference_number }}</p>
      </div>
      <button class="return-button" onclick="window.location.href='{% url 'dashboard' %}'">Return to Dashboard</button>
    </div>
  </div>

  <script src="{% static 'js/payment_script.js' %}"></script>
</body>

</html>
